body {
  margin: 0;
  padding: 0;
  background-color: grey;
}

#spring {
  background-color: green;
}

#summer {
  background-color: #ffbf00;
}

#winter {
  background-color: lightblue;
}

#autumn {
  background-color: #b37100;
}

#wrap {
  width: 70%;
  margin-left: 0 auto;
}

header img {
  width: 100%;
}

nav {
  padding: 19px;
  text-align: center;
}

nav li {
  display: inline;
}

nav ul {
  margin: 0;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 20px;
}

nav a:hover {
  background-color: black;
}

footer {
  background-color: white;
  width: 100%;
  padding: 20px;
}

}
