body {
  margin: 0;
  padding: 0;
}

#wrap {
  width: 70%;
  margin-left: 0 auto;
}

article {
  overflow: auto;
}

figure {
  width: 25%;
  padding: 10px 10px 5px 10px;
  float: left;
  margin: 20px;
}

figure img {
  width: 100%;
}
